<%- include('../header') %>
<br>

<form method="post" action="/categorias/nova">
<div class="form-group">
	<label for="categoria">Categoria</label>
	<input placeholder="Coloque o nome 
da categoria" name="categoria"
autofocus type="text" class="form-control" id="categoria"> <br>
</div>	

        <button type="submit" class="btn btn-primary">Salvar</button>
</form>

<%- include('../footer') %>
